@font-face{
    font-family: "Gelasio";
    src: url('./fonts/Gelasio-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Gelasio";
    src: url('./fonts/Gelasio-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Roboto";
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

header {
    display: flex; 
    justify-content: 
    space-between; 
    align-items: center; 
    padding: 0 40px;
}

header nav{
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 40px; 
    justify-content: center;
    align-items: center;
}


header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: #081F32;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #1B75BB;
    padding: 9px 17px;
    border-radius: 5px;
}

header nav ul li.active a{
    color: #1B75BB;
    font-weight:700;
}

header a.btn,
button.btn {
    background: #1B75BB;
    padding: 12px 26px;
    border-radius: 5px;
    color: white;
    font-size: 23px;        
    font-weight: 500;
    text-decoration: none;  
    display: inline-block;  
}


.main-banner {
    background-image: url('img/mebel.svg');
    background-size: cover;        
    background-position: center;    
    background-repeat: no-repeat;   
    width: 100%;
    min-height: 950px;            
    position: relative;
}

.logo {
    position: relative;
    width: 144px;   /* было 200 — увеличиваем */
    height: 144px;  /* было 120 — увеличиваем */
}

.logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.logo-text {
    position: absolute;
    bottom: 60px;     /* чуть ниже, т.к. логотип стал больше */
    right: -35px;       /* это положение под правый край крыши */

    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 23px;   /* увеличиваем текст */
    color: #081F32;
    white-space: nowrap;
}




.p2{
    color: #1B75BB;
    text-transform: uppercase;

}