@font-face{
    font-family: "Gelasio";
    src: url('./fonts/Gelasio-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Gelasio";
    src: url('./fonts/Gelasio-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Roboto";
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container{
    width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}

header {
    display: flex; 
    justify-content: 
    space-between; 
    align-items: center; 
}

header nav{
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 40px; 
    justify-content: center;
    align-items: center;
}


header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: #081F32;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #1B75BB;
    padding: 9px 17px;
    border-radius: 5px;
}

header nav ul li.active a{
    color: #1B75BB;
    font-weight:700;
}

header a.btn{
    background: #1B75BB;
    padding: 12px 26px;
    border-radius: 5px;
    color: white;
    font-size: 23px;        
    font-weight: 500;
    text-decoration: none;  
    display: inline-block; 
    cursor: pointer; 
}


.main-banner {
    background-image: url('img/mebel.svg');
    background-size: cover;        
    background-position: center;    
    background-repeat: no-repeat;   
    width: 100%;
    min-height: 950px;            
    position: relative;
}

.logo {
    position: relative;
    width: 144px;   
    height: 144px;  
}

.logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.logo-text {
    position: absolute;
    bottom: 60px;     
    right: -35px;       

    font-family: 'Gelasio', serif;
    font-weight: 500;
    font-size: 23px;   
    color: #081F32;
    white-space: nowrap;
}

.hero--info h2{
    color: #1B75BB;       
    font-weight: 500;      
    font-size: 18px;       
    letter-spacing: 6px;   
    text-transform: uppercase; 
    text-decoration-color: #1B75BB; 
    margin-bottom: 12px;
}

.hero--info h1{
    font-family: "Gelasio";
    color: #000000;
    font-weight: 600;
    font-size: 46px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero--info {
    padding-top: 140px; 
    max-width: 480px;
}

.hero--info p{
    font-size: 18px;
    line-height: 1.6;
    color: #6E7A8A;
    margin-bottom: 30px;
    font-weight: 400;
}

.btn1 {
    background: #1B75BB;
    padding: 17px 20px;
    border-radius: 5px;
    color: white;
    font-size: 23px;        
    font-weight: 500;
    text-decoration: none;  
    display: inline-block;
    margin-top: 24px;
    cursor: pointer;
}

.blue {
    color: #1B75BB;
}

.reservation { 
    position: relative; 
    bottom: -275px;
    left: 340px;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(235, 234, 230, 1) 100%);
    padding: 30px 55px; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    gap: 30px; 
    width: fit-content; 
}

.reservation-item {
    width: 140px;
    border-right: 3px solid #D9D9D9;
    padding-right: 20px;
}

.reservation-item:last-child {
    border-right: none;
}

.label {
    display: block;
    font-size: 15px;
    color: #6E7A8A;
    margin-bottom: 5px;
}

.value {
    font-size: 18px;
    color: #081F32;
    font-weight: 500;
}

.find-room {
    background: #1B75BB;
    color: #fff;
    padding: 18px 32px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.rectangle1 {
    position: absolute;
    top: 0;
    left: -35px;
    width: 740px;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;
}

.rectangle1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    z-index:2
}

.videos {
    position: relative;
    width: 1400px; 
    height: 450px; 
    margin: 270px auto 0; /
}

.rectangle2 {
    position: absolute;
    top: -90px;     
    left: 200px;   
    width: 584px;
    height: 330px;
    border-radius: 10px;
    overflow: hidden;
}

.rectangle2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-videos {
    position: absolute;
    top: 20px;      
    left: 900px;    
    width: 450px;   
}


.text-videos h2{
    color: #1B75BB;       
    font-weight: 500;      
    font-size: 18px;       
    letter-spacing: 6px;   
    text-transform: uppercase; 
    text-decoration-color: #1B75BB;
    margin-bottom: 20px; 
}

.text-videos h1{
    font-family: "Gelasio";
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.btn-view {
    background: #1B75BB;
    padding: 17px 20px;
    border-radius: 5px;
    color: white;
    font-size: 23px;        
    font-weight: 500;
    text-decoration: none;  
    display: inline-block;
    margin-top: 23px;
    cursor: pointer;
}

.ripples {
    position: absolute;
    top: 180px;     
    left: -150px;   
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.ripples img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;      
    height: 100px;
    background: white; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid #1B75BB;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

